numpy==2.0.2
pandas==2.2.3
rdt==1.15.0
torch==2.6.0
tqdm==4.67.1
tensorflow>=1.15.0
keras>=2.3.1
argparse>=1.1
sdv>=0.15.0
scikit-learn>=1.0.0
pytest>=7.0.0
matplotlib>=3.0.0
seaborn>=0.12.0
pgmpy>=0.8.0